main {
    margin: 0 20px;
}

div#results {
    padding-top: 30px;
    p {
        background: #fafbfa;
        margin: 5px 0 10px 0;
        height: 40px;
        display: flex;
        align-items: center;
        padding-inline-start: 20px;
        border-radius: 5px;
        border: 1px solid #eee;
    }
} 

